.border-red {
    border-color: red !important;
}

.text-theme{
    color:#FF1654;
}

.text-red {
    color: red;
}

.ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader div{
height:20px;
width:20px;
display:inline-block;
margin:.2rem;
animation: scaling 2s ease-in-out infinite;
}

@keyframes scaling{
0%,100%{
transform:scale(0.2);
}
50%{
transform:scale(1);
}
}

.loader div:nth-child(0){
animation-delay:0s;
}
.loader div:nth-child(1){
animation-delay:0.2s;
}
.loader div:nth-child(2){
animation-delay:0.4s;
}
.loader div:nth-child(3){
animation-delay:0.6s;
}
.loader div:nth-child(4){
animation-delay:0.8s;
}
.loader div:nth-child(5){
animation-delay:1s;
}

ul#pro.nav-tabs {
    border-bottom: 1px solid #FF1654;
}

ul#pro.nav li.nav-item a.nav-link{
    color:#FF1654;
    /* border-color: #FF1654; */
}

ul#pro.nav li.nav-item a.nav-link.active{
    color:#FF1654;
    border-top-color: #FF1654;
    border-bottom-color: #fff;
    border-right-color: #FF1654;
    border-left-color: #FF1654;
    background-color:#f8bacb77;
}